.btn {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 13px 50px;
  display: inline-block;
  border-radius: 50px;
  border: 2px solid;
  margin-top: 20px;
  margin-right: 20px;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

.btn-hamburger {
  color: #000;
  font-size: 40px;
  text-decoration: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
}

@media (max-width: 1600px) {
  .header {
    padding-left: 2.5%;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-left: 0;
  }
}

@media (max-width: 1024px) {
  .header {
    height: auto;
  }
}

.header .topbar {
  transition: 0.1s ease;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.header .topbar .menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
}

@media (max-width: 1024px) {
  .header .topbar .menu {
    background: #fff;
  }
}

.header .topbar nav a {
  transition: 0.3s ease;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 0;
  margin: 0 10px;
}

.header .topbar nav a:hover {
  font-size: 20px;
  font-weight: 600;
}

.header .topbar .logo {
  background: #fff;
  width: 35%;
  height: 100px;
}

@media (max-width: 1600px) {
  .header .topbar .logo {
    width: 35.9%;
  }
}

.header .topbar .logo img {
  padding: 10px 0;
  height: 90px;
  cursor: pointer;
  margin-left: -1%;
}

@media (max-width: 1200px) {
  .header .topbar .logo img {
    padding: 20px 0;
    height: 80px;
  }
}

@media (max-width: 1024px) {
  .header .topbar .logo img {
    height: 60px;
  }
}

.header .topbar.static {
  background: #fff;
}

.header .topbar.static nav a {
  color: #333;
}

.header .mobile-menu {
  -webkit-animation: growDown 300ms ease-in-out forwards;
          animation: growDown 300ms ease-in-out forwards;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 100px;
  background: #fff;
  border-top: 0.1px solid black;
  padding: 10px 20px 20px;
}

.header .mobile-menu a {
  display: block;
  color: #000 !important;
}

.header .left-col {
  flex: 1 0 35%;
}

@media (max-width: 1024px) {
  .header .left-col {
    flex: 1 0 100%;
    order: 2;
  }
}

.header .left-col .slogan {
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1024px) {
  .header .left-col .slogan {
    opacity: 1;
    z-index: 2;
    padding-left: 7%;
    top: 49%;
    transform: translateY(-49%);
  }
}

.header .left-col .slogan h2 {
  text-transform: uppercase;
  color: #000;
  font-size: 90px;
  font-family: "Montserrat";
  font-weight: 1000;
  margin: 0;
}

.header .left-col .slogan h2:first-child {
  -webkit-text-stroke: 1px #000;
  color: transparent;
}

@media (max-width: 1680px) {
  .header .left-col .slogan h2 {
    font-size: 80px;
  }
}

@media (max-width: 1440px) {
  .header .left-col .slogan h2 {
    font-size: 60px;
  }
}

@media (max-width: 1200px) {
  .header .left-col .slogan h2 {
    font-size: 50px;
  }
}

@media (max-width: 1024px) {
  .header .left-col .slogan h2 {
    -webkit-text-stroke: initial !important;
    color: #fff !important;
  }
}

.header .left-col .slogan span {
  font-size: 20px;
  font-weight: 600;
  display: block;
}

@media (max-width: 1440px) {
  .header .left-col .slogan span {
    font-size: 18px;
  }
}

@media (max-width: 1440px) {
  .header .left-col .slogan span {
    font-size: 18px;
  }
}

@media (max-width: 1300px) {
  .header .left-col .slogan span {
    font-size: 17px;
  }
}

@media (max-width: 1200px) {
  .header .left-col .slogan span {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .header .left-col .slogan span {
    font-size: 20px;
    flex: 1 1 100%;
    color: #fff;
    z-index: 2;
  }
}

.header .left-col .slogan .btn {
  margin-left: -5px;
  border-color: #000;
}

@media (max-width: 1400px) {
  .header .left-col .slogan .btn {
    padding: 13px 40px;
  }
}

@media (max-width: 1200px) {
  .header .left-col .slogan .btn {
    padding: 13px 30px;
  }
}

@media (max-width: 1149px) {
  .header .left-col .slogan .btn {
    padding: 13px 20px;
  }
}

.header .right-col {
  flex: 1 0 65%;
  background: #000;
}

.header .right-col .img {
  height: 100vh;
  background: url(/images/background.png?d7178bd13a5ed57bc646c53340ffe2a6) no-repeat;
  background-size: cover;
  background-position: 25%;
}

@media (max-width: 1024px) {
  .header .right-col .img {
    background: url(/images/flipped-background.png?0db124a46bab741a78f6079fd21637b4) no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
    flex: 1 1 100%;
    order: 1;
    margin-top: 100px;
    opacity: 0.7;
  }
}

body {
  font-family: "Mulish";
  font-size: 15px;
  letter-spacing: 0.8px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #fff;
  color: #333;
  margin: 0;
  height: 300vh;
  overflow-x: hidden;
}

