$black: #000;
$white: #fff;
$gray: #333;

@import "Elements/buttons";
@import "_transitions.scss";
@import "Sections/header";

body{
    font-family: "Mulish";
    font-size: 15px;
    letter-spacing: 0.8px;
    word-wrap: break-word;
    font-weight: 400;
    background-color: $white;
    color: $gray;
    margin: 0;
    height: 300vh;
    overflow-x: hidden;
}


